services:
  app:
    image: geo:local  
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}

      - RDB_HOST=${RDB_HOST}
      - RDB_PORT=${RDB_PORT}
      - RDB_PASSWORD=${RDB_PASSWORD}
    build: .
    command: ["./server"]
    ports:
      - "8080:8080"
  
  worker:
    build: .
    command: ["./worker"]


  redis:
    image: redis:latest
    environment:
      - RDB_HOST=${RDB_HOST}
      - RDB_PORT=${RDB_PORT}
      - RDB_PASSWORD=${RDB_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  postgres:
    image: postgres:latest
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
  redis_data: